{% import _self as formMacros %}

{% macro printItemRow(item) %}
    <div class="col-md-12 js-order-item">
        {{ form_errors(item) }}
        <div class="row">
            <div class="col-md-4">
                {{ form_row(item.firstName) }}
            </div>
            <div class="col-md-4">
                {{ form_row(item.lastName) }}
            </div>
            <div class="col-md-4">
                {{ form_row(item.birthDate) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                {{ form_row(item.country) }}
            </div>
            <div class="col-md-5">
                {{ form_row(item.reducedRate) }}
                <p class="reduced-warning">Afin d'éviter un refus d'entrée, veuillez prendre
                    la carte qui vous permet de bénéficier du tarif réduit lors de votre visite.</p>
            </div>
            <div class="col-md-3 text-center">
                <br>
                <a href="#" class="btn btn-danger js-remove-item">
                    <span class="glyphicon glyphicon-remove-circle"></span> Supprimer ticket
                </a>
            </div>
        </div>
    </div>
{% endmacro %}

{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Commande
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css">
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-4">
            {% include('Default/prices.html.twig') %}
        </div>
        <div class="col-sm-8 order-ticket">
            <h1>Votre billet</h1>
            {{ form_start(order) }}
            <div class="row blocks-group">
                {{ form_errors(order) }}
                <div class="align-blocks">
                    <div class="align-block">
                        {{ form_row(order.venueDate) }}
                    </div>
                    <div class="align-block">
                        {{ form_row(order.customerEmail) }}
                    </div>
                    <div class="align-block">
                        {{ form_row(order.duration) }}
                    </div>
                </div>
            </div>
            <h3>Vos Tickets</h3>
            <div class="row js-order-item-wrapper"
                 data-prototype="{{ formMacros.printItemRow(order.items.vars.prototype)|e('html_attr') }}"
                 data-index="{{ order.items|length }}">
                {% for item in order.items %}
                    {{ formMacros.printItemRow(item) }}
                {% endfor %}
            </div>
            <div class="row text-center"><a href="#" class="btn btn-success js-item-add">
                    <span class="glyphicon glyphicon-plus-sign"></span> Ajouter un ticket</a>
            </div>
            {{ form_widget(order.items) }}
            <div class="text-center">
                <button id="submit" type="submit" class="btn btn-lg btn-primary" formnovalidate>Validation de votre commande</button>
            </div>
            {{ form_end(order) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/locales/bootstrap-datepicker.fr.min.js">
    </script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{ asset('js/louvreorder.js') }}"></script>
{% endblock %}