{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Bienvenue
{% endblock %}

{% block body %}
    <div class="jumbotron welcome">
        <h1>Evitez l'attente</h1>
        <p>Grâce à notre billetterie en ligne, évitez les files d'attente le jour de votre visite, en achetant
            dès aujourd'hui vos billets, directement sur notre site...
        </p>
        <p><a class="btn btn-lg btn-info" href="{{ path('index') }}" role="button">Achetez vos billets</a></p>
    </div>
    <section class="presentation">
        <h2 class="text-center">
            Expositions du moment
        </h2>
        <div class="row">
            <div class="col-lg-4">
                <img class="img-circle"
                     src="{{ asset('images/francois1er-160x160px.jpg') }}"
                     alt="portrait de François 1er"/>
                <h3>François 1er et les Pays-Bas</h3>
                <p>Si le goût de François Ier pour l’art italien
                    est bien connu et son mécénat essentiellement
                    identifié à la création du foyer italianisant
                    de Fontainebleau, son règne ne s’inscrit pas
                    moins dans une tradition très vivace d’implantation
                    en France d’artistes originaires des Pays- Bas.</p>
                <a class="btn btn-primary" href="http://www.louvre.fr/expositions/francois-ier-et-l-art-des-pays-bas"
                   role="button" title="François 1er et l'art des Pays-Bas">Plus d'infos &raquo;</a>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="img-circle"
                     src="{{ asset('images/poseidon-160x160px.jpg') }}"
                     alt="statut de Poseidon"/>
                <h3>Échos de l’Antiquité</h3>
                <p>Que tintent les crotales et sonnent les trompettes !
                    Le musée du Louvre-Lens présente la toute première
                    exposition consacrée à la musique dans les grandes
                    civilisations antiques, de l’Orient à Rome, en passant
                    par l’Égypte et la Grèce.</p>
                <a class="btn btn-primary"
                   href="http://www.louvre.fr/expositions/musiques-echos-de-l-antiquite"
                   role="button" title="Échos de l’Antiquité">Plus d'infos &raquo;</a>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="img-circle"
                     src="{{ asset('images/delacroix-160x160px.jpg') }}"
                     alt="Autoportait de Eugene Delacroix"/>
                <h3>Eugène Delacroix</h3>
                <p>Grand écrivain contemporain, Christine Angot a été
                    invitée par le musée Delacroix à choisir parmi les
                    oeuvres de la collection celles qui l’ont émue, intéressée,
                    surprise, étonnée. Son choix reflète ses coups de
                    coeur, évoque ses propres souvenirs d’enfance et de
                    jeunesse, au centre de la France</p>
                <a class="btn btn-primary" href="http://www.louvre.fr/expositions/acccrochageregards-sur-une-collection-christine-angot-invitee-au-musee-delacroix"
                   role="button" title="Eugène Delacroix">Plus d'infos</a>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
    </section>
{% endblock %}